<style>
  /*.bg-red{*/
  /*  border-color: red;*/
  /*}*/
</style>
<div class="row justify-content-center align-items-center vh-100">
  <div class="card-dark">
    <div class="card-header">
      <h3 class="card-title"> Perform process </h3>
    </div>
    <div class="card-body">
      <ul>
        <li>Reference: {{process.requestReference}}</li>
        <h6>Actual Task : {{actualTask.idTask}}- {{actualTask.name}}</h6>

      </ul>
    </div>
  </div>
  <div class="card-default">
    <div class="card-header">
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <th>Task Name</th>
          <th>Result Name</th>
          </thead>
          <tbody>
          <tr *ngFor="let process of list" [ngClass]="{'bg-green': process.taskDone}"  >
            <td>{{process.taskName}} </td>
            <td>{{process.resultTypeName}}</td>
          </tr>
          </tbody>
        </table>
      </div>
<!--      <mat-horizontal-stepper>-->
<!--        <ng-container *ngFor="let step of list ">-->
<!--          <mat-step [completed]="step.taskDone"  [label]="step.taskName" [editable]="!step.taskDone">-->
<!--            <p> Result: {{ step.resultTypeName }}.</p>-->
<!--            &lt;!&ndash;          <div>&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;            <button mat-button [matStepperPrevious]="i" *ngIf="i > 0">Back</button>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;&lt;!&ndash;            <button mat-button [matStepperNext]="i" *ngIf="i < steps.length - 1">Next</button>&ndash;&gt;&ndash;&gt;-->
<!--            &lt;!&ndash;            <button mat-button (click)="complete()" *ngIf="i === steps.length - 1">Finish</button>&ndash;&gt;-->
<!--            &lt;!&ndash;          </div>&ndash;&gt;-->
<!--          </mat-step>-->
<!--        </ng-container>-->
<!--      </mat-horizontal-stepper>-->

      <mat-horizontal-stepper>
        <ng-container *ngFor="let step of list">
          <mat-step
            [completed]="step.taskDone"
            [label]="step.taskName"
            [editable]="!step.taskDone"
            [ngClass]="{'step-completed': step.taskDone}">

            <p> Result: {{ step.resultTypeName }}.</p>
          </mat-step>
        </ng-container>
      </mat-horizontal-stepper>

    </div>
    <div class="card-footer">
      <div class="form-group">
        <label for="mySelect">Choose an option:</label>
        <select id="mySelect" class="form-control" [(ngModel)]="selectedOption.id">
          <option *ngFor="let option of options" [value]="option.id">{{option.designation}}</option>
        </select>
      </div>
      <button class="btn btn-dark" (click)="nextTask()">Next</button>
    </div>
  </div>
</div>
