<div class="row ">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="card-title">STAT 1</div>
      </div> <!-- Fermeture de card-header ici -->
      <div class="card-body">
        <div class="col-md-12">
          <div class="alert-default-light align-items-center">
            <form action="">
              <div class="form-group">
                <label for="dateDebut">Date de début</label>
                <input type="date" class="form-control" id="dateDebut" name="dateDebut">
              </div>
            </form>
          </div>
          <div style="display: block;"  class=" justify-content-center">
            <canvas #myChart width="400" height="100"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
