<style>
  .bg-red{
    border-color: red;
  }
</style>
<div class="row justify-content-center align-items-center vh-100">
  <div class="card-dark">
    <div class="card-header">
      <h3 class="card-title"> Task Configuration </h3>
    </div>
    <div class="card-body">
      <ul>
        <li>Name: {{task.name}}</li>
        <li>Description: {{task.description}}</li>
      </ul>
    </div>
  </div>
  <div class="card-default">
    <div class="card-header">
      <h3 class="card-title"><h2>Add Result</h2></h3>

      <div class="">
        <form id="myForm" class="input-group" (ngSubmit)="onSubmit()">
          <div>
            <label>Result</label>
            <select class="form-control"    name="selectedResultType" [(ngModel)]="newResulter.resultType" >
              <option *ngFor="let resultType of resultTypes" [value]="resultType.id">{{resultType.designation}}</option>
            </select>
          </div>
          <div class="form-group row">
            <div class="col-sm-6">
              <label>Step</label>
              <select class="form-control"  name="selectedStep" [(ngModel)]="selectedStep.idStep" (change)="onChangeSelectedStep()">
                <option *ngFor="let step of steps" [value]="step.idStep">{{step.name}}</option>
              </select>
            </div>
            <div class="col-sm-6">
              <label>Task</label>
              <select class="form-control"  name="selectedTask" [(ngModel)]="newResulter.idNextTask">
                <option value="0">Ending</option>
                <option  *ngFor="let task of tasks" [value]="task.idTask">{{task.name}}</option>
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-default">
            add
            <i class="fas fa-plus"></i>
          </button>
        </form>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Ending</th>
          <th>Result</th>
          <th>Next Task</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let resulter of resulters"  >
          <td>{{resulter.ending}}</td>
          <td>{{resulter.resultTypeName}}</td>
          <td>{{resulter.nextTaskName}}</td>
          <td>
            <!--            <button (click)="up(step)" class="btn btn-secondary btn-sm mx-1" >Up <i class="fas fa-arrow-up"></i></button>-->
            <!--            <button (click)="down(step)" class="btn btn-secondary btn-sm mx-1" >Down <i class="fas fa-arrow-down"></i></button>-->
            <button><i class="fas fa-edit"></i>Edit</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
    </div>
  </div>
</div>
