<div class="row justify-content-center align-items-center ">
  <div class="card-default">
    <div class="card-header">
      <h3 class="card-title">Tokens  {{organism.name}}</h3>
<!--      <app-notifications ></app-notifications>-->

    </div>
    <div class="card-body">

      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Consumer </th>
          <th>Value</th>
          <th>Last activity</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let token of tokens">
          <td>{{token.consumerId}}</td>
          <td>{{token.value}}</td>
          <td>{{token.lastActivity}}</td>
          <td>
<!--            <button  class="btn-default" (click)="addVersion(processType.id)">-->
<!--              <i class="fas fa-plus"></i>-->
<!--              Add Version-->
<!--            </button>-->
            <button  class=" btn-circle btn-danger" (click)="deleteToken(token.id)">
              <i class="fas fa-trash"></i>
            </button>
<!--            <button  [routerLink]="['/process-type-info',processType.id]" class="btn btn-secondary btn-sm mx-1" >Info <i class="fas fa-info-circle"></i></button>-->
<!--            &lt;!&ndash;            <button   (click)="finalize(processType.idProcessType.toString())" class="btn btn-secondary btn-sm mx-1" >Finalize  <i class="fas fa-user-lock"></i></button>&ndash;&gt;-->

          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <button class="btn btn-dark" (click)="addConsumerToken()" >add</button>

    </div>
  </div>
</div>
