<div class="card">
  <div class="card-header">
    <h3 class="card-title">New Organism</h3>

    <div class="card-tools">

    </div>
  </div>
  <form   (ngSubmit)="onSubmit()">
    <div class="card-body">
      <div class="form-group"   >
        <label >Login</label>
        <input type="text" [(ngModel)]="newOwner.login" name="login"  class="form-control"  >
      </div>
      <div class="form-group"   >
        <label >Email</label>
        <input type="email" [(ngModel)]="newOwner.email"  name="email"  class="form-control"  >
      </div>
      <div class="form-group"   >
        <label >Password</label>
        <input type="password" [(ngModel)]="newOwner.password"   name="password"  class="form-control"  >
      </div>

      <div *ngIf="error!=''" class="text-danger">
        {{error}}
      </div>

    </div>
    <!-- /.card-body -->
    <div class="card-footer align-content-center">
      <button type="submit" class="btn btn-dark "> Submit </button>
    </div>
  </form>

  <!-- /.card-footer-->
</div>
