<div class="card">
  <div class="card-header">
    <h3 class="card-title">Nouveau token de consommateur</h3>

    <div class="card-tools">

    </div>
  </div>
  <form   (ngSubmit)="onSubmit()">
    <div class="card-body">
      <div class="form-group"   >
        <label >Identifiant</label>
        <input type="text" [(ngModel)]="newConsumerToken.consumerId"  name="consumerId" class="form-control"  >
      </div>
      <div class="form-group"   >
        <label >Durée de validité (jour)</label>
        <input type="number" min="0" [(ngModel)]="newConsumerToken.duration"  name="duration" class="form-control"  >
      </div>

      <div *ngIf="error!=''" class="text-danger">
        {{error}}
      </div>

    </div>
    <!-- /.card-body -->
    <div class="card-footer align-content-center">
      <button type="submit" class="btn btn-dark "> Submit </button>
    </div>
  </form>

  <!-- /.card-footer-->
</div>
