<style>
  .bg-red{
    border-color: red;
  }
</style>
<div class="row justify-content-center align-items-center vh-100">
  <div class="card-dark">
    <div class="card-header">
      <h3 class="card-title"> Step Configuration </h3>
    </div>
    <div class="card-body">
      <ul>
        <li>Name: {{step.name}}</li>
        <li>Description: {{step.description}}</li>
      </ul>
    </div>
  </div>
  <div class="card-default">
    <div class="card-header">
      <h3 class="card-title"><h2>Add Task</h2></h3>

      <div class="">
        <form id="myForm" class="input-group" (ngSubmit)="onSubmit()">
          <input class="form-control" type="text" [(ngModel)]="newTask.name" name="name" placeholder="Name">
          <input class="form-control" type="text" [(ngModel)]="newTask.description" name="description" placeholder="Description">
          <label>
            <input type="checkbox" [(ngModel)]="newTask.isFirst" name="isFirst"> Is First
          </label>
          <button type="submit" class="btn btn-default">
            add
            <i class="fas fa-plus"></i>
          </button>
        </form>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Order</th>
          <th>Name</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let task of tasks" [ngClass]="{'bg-red': task.state==0 }" >
          <td>{{task.state}}</td>
          <td>{{task.name}}</td>
          <td>{{task.description}}</td>
          <td>
            <button  [routerLink]="['/tasks/config',task.idTask]" class="btn btn-secondary btn-sm mx-1" >Configure <i class="fas fa-edit"></i></button>

<!--            <button (click)="up(step)" class="btn btn-secondary btn-sm mx-1" >Up <i class="fas fa-arrow-up"></i></button>-->
<!--            <button (click)="down(step)" class="btn btn-secondary btn-sm mx-1" >Down <i class="fas fa-arrow-down"></i></button>-->
<!--            <button><i class="fas fa-edit"></i>Edit</button>-->
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
    </div>
  </div>
</div>
